
.header {
    height: 60px;
    position: -webkit-sticky; /* Para suporte no Safari */
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #15242d; /* Certifique-se de adicionar uma cor de fundo */
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60px;
}

.menu li {
    list-style: none;
    color: white;
    margin-right: 25px;
    margin-left: 30px;
}
