@charset "UTF-8";


* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: black;
    color: white;
    
}

.main {
    margin: .5rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;

}