@font-face {
    font-family: neue;
    src: url('/Dio/Portfolio/assets/fonts/NeueMachina-Regular.otf');

} 
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: black;
    color: white;
}

.main {
    padding: 1rem;
}