@charset "UTF-8";


* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: black;
    color: white;
    
}

.main {
    margin: .5rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
    
}

.main::before {
    content: '';
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;


}

.main::after {
    content: '';
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
    transform: rotate(180deg);
    
}