 @font-face {
    font-family: Neue;
    src: url('/Dio/Portfolio/NeueMachina-Regular.otf');

} 
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.header .title{
     font-family: Neue;
    text-align: center;

}

