@charset "UTF-8";
@font-face {
    font-family: 'Neue';
    src: url('../fonts/NeueMachina-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    /*
    Tipos de format()
    -opentype (otf)
    -truetype (ttf)
    -embedded-opentype
    -truetype-aat (Apple Advanced Typography)
    -svg
    */
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.header .title{
    font-family: Neue;
    text-align: center;

}

