*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #09090b;
    color: #e4e4e7;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: #fafafa;
    font-weight: bold;
}

span {
    color: #22c55e;
}

p {
    color: #71717a;
    margin: 5px;
}

textarea {
    resize: none;
    width: 100%;
    max-width: 640px;
    padding: 16px;
    border: 1px solid #27272a;
    border-radius: 10px;
    background: #141419;
    color:#fafafa;
    outline: none;
}

button {
    width: 100%;
    max-width: 640px;
    background: #22c55e;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 15px;
    cursor: pointer;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.bloco-codigo {
    background: #141419;
    border: 1px solid #27272a;
    border-radius: 12px;
    padding: 16px;
    font-size: 14px;
    color:#34d399;
    line-height: 2;
    overflow: auto;
    width: 350px;
    min-height: 350px;
    
}

.resultado-codigo {
    width: 100%;
    height: 100%;
    border: 1px solid #27272a;
    min-height: 350px;
    border: 1px solid #27272a;
    border-radius: 12px;

    
}
