
/* banner junto com logo de jujutsu ---------------------*/

.header {
    margin-top: 60px;
    /* top: 60px; */
/* background-color: blue; */

    
} 


.banner {
    display: flex;

}

.banner img {
    width: 100%;

}



 .logoConteudo {
    display: flex;
      align-items: center;
    justify-content: center;  

     background-color: black; 
       

     /* position: relative;
    bottom: 50px;  */
    /* bottom ou margin top */
   
}  

 .logoConteudo img { 
    max-width: 300px;
    position: absolute;

    
    
}



/* A historia e imagem do gojo----------------------------- */

.content {

    background: url("https://jujutsukaisen.jp/images/top_r/bg.jpg");
    
    color: white;
     /* background-color: blueviolet;  */
    
    height: auto;
    
}
.history {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: row; /* responsividade column */
    padding: 40px;
}
.content p {
    max-width: 500px;
    text-align: justify;

}
.content h1 {
    padding-left: 85px;
}
.content img {
    width: 350px;
    height: 500px;
    margin-top: 40px;
    margin-left: -20px;
}

.text {
    animation-fill-mode: forwards;
    visibility: visible;
    min-height: 20px;
}


/* Apresentacao de personagens -------------------------------*/
.titulocarrossel{
    
     display: flex;
    flex-direction: column;
     
    background-image: url('https://jujutsukaisen.jp/images/bg_sub.jpg');
    color: aliceblue;

   
    
}
.titulocarrossel h1 {
    /* transform: rotate(90deg); */
    font-size: 70px;
    left: 40px;
    top: 10px;
    position: relative;
}

/* .titulocarrossel img {
    width: 200px;
} */

.carrossel {
    display: flex; 
    justify-content: center; 
    
    align-items: center;
     

    background: transparent;

    height: auto;
    
    color: aliceblue;
    /* position: relative; */
}




.slide {
    margin: 50px 40px 50px 40px;
    width: 600px;
    height: auto;
    
    
}

.slideItem{/* foto de slide */
    
    width: 200px;
    height: 550px;
    object-fit: cover;

    float: left; /* Faz a imagem flutuar à esquerda */
    margin-right: 10px; /* Espaçamento entre a imagem e o parágrafo */
 
}

.bioSlide {/* biografia da foto de cada slide */
    
    text-align: justify;
    margin-bottom: 40px;
    
    flex: 1; /* Ocupa o espaço restante */
  margin-left: 10px; /* Espaçamento entre a imagem e o texto */
}



/* Game -----------------------------------------------------*/
.games {
    
    background: url("https://p325k7wa.twic.pics/high/jujutsu-kaisen/jujutsu-kaisen-cursed-clash/00-page-setup/new-asset/JJKCC-bg-2.jpg?twic=v1/focus=auto&twic=v1/focus=auto/cover-max=1980x1343");
    background-color: darkseagreen;
    height: auto;
    padding-bottom: 50px;
}


.games img {
    width: 330px;
    margin: 20px;
}

.jogo {
    color: aliceblue;
    display: flex;
     align-items: center; 
    justify-content: center;
    flex-direction: row; /* responsividade dos botos do jogo */

}


.opcoes {
    max-width: 400px;
}

.opcoes p {

    color: aliceblue;
    margin-bottom: 50px;
    text-align: justify;
}



/* creditos do site --------------------------------------------------*/
.rodape {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: aliceblue;

    height: auto;
    padding: 40px 0 40px 0;
}

.rodape h1 {
    margin-bottom: 20px;
}

/* Responsividade */

@media (max-width: 768px) {
    .history {
        flex-direction: column;
    }
}


@media (max-width: 650px) {
    .jogo {
        flex-direction: column;
    }

  
}