
/* banner junto com logo de jujutsu */
.header {
    
/* background-color: blue; */

    
} 


.banner {
    
}

.banner img {
    width: 100%;
    margin-top: 50px;
}



 .logoConteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    /* margin-top: -40px; */
     position: relative;
    bottom: 50px; 
    /* bottom ou margin top */
    
   
}  

 .logoConteudo img { 
    min-width: 200px;
    
}



/* A historia e imagem do gojo */
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;

    color: white;
    /* background-color: blueviolet; */
    width: 100%;
    margin-bottom: 40px;
}

.content p {
    max-width: 500px;
    text-align: justify;
}

.content img {
    width: 350px;
    height: 500px;
    margin-top: 40px;
}


/* Apresentacao de personagens */
.carrossel {
    background-color: aliceblue;
    height: 800px;
}

/* creditos do site */
.rodape {
    background-color: goldenrod;
    height: 100px;
}