
/* banner junto com logo de jujutsu */
.header {
    
/* background-color: blue; */
position: relative;
    
} 


.banner {
    display: flex;

}

.banner img {
    width: 100%;

}



 .logoConteudo {
    display: flex;
      align-items: center;
    justify-content: center;  

     background-color: black; 
     margin-top: 0px;  
     /* position: relative;
    bottom: 50px;  */
    /* bottom ou margin top */
}  

 .logoConteudo img { 
    max-width: 300px;
    position: absolute; 

    
    
}



/* A historia e imagem do gojo */
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: url("https://jujutsukaisen.jp/images/top_r/bg.jpg");
    
    color: white;
     /* background-color: blueviolet;  */
    width: 100%;
    padding-bottom: 80px;
    padding-top: 80px;
    
}

.content p {
    max-width: 500px;
    text-align: justify;
    padding-left: 80px;
}
.content h1 {
    padding-left: 85px;
}
.content img {
    width: 350px;
    height: 500px;
    margin-top: 40px;
}


/* Apresentacao de personagens */
.carrossel {
    background-color: aliceblue;
    height: 800px;
}

/* creditos do site */
.rodape {
    background-color: goldenrod;
    height: 100px;
}