* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%; 
}

html {
   
}
html, body {
    
    width: 100%;
    font-size: 18px;
    /* font-weight: bold; */
    font-family: "Roboto", cursive;
    background-color: black;
    overflow-x: hidden;
}




#root {
    /* height: 100%; */ /* desabilitar para o menu sticky funcionar corretamente */
    width: 100%;
}
