* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 18px;
    /* font-weight: bold; */
    font-family: "Roboto", cursive;
    background-color: black;
    overflow-x: hidden;
}




#root {
    /* height: 100%; */
    width: 100%;
}
